@font-face {
  font-family: "iconfont"; /* Project id 4827910 */
  src: url('iconfont.woff2?t=1740117422948') format('woff2'),
       url('iconfont.woff?t=1740117422948') format('woff'),
       url('iconfont.ttf?t=1740117422948') format('truetype'),
       url('iconfont.svg?t=1740117422948#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dashboard:before {
  content: "\e77c";
}

.icon-about:before {
  content: "\e691";
}

.icon-app-manage:before {
  content: "\e64d";
}

.icon-app:before {
  content: "\e624";
}

.icon-min:before {
  content: "\e65a";
}

.icon-close:before {
  content: "\e639";
}

.icon-max2:before {
  content: "\e653";
}

.icon-max:before {
  content: "\e65b";
}

.icon-exit:before {
  content: "\e647";
}

.icon-app-data:before {
  content: "\e608";
}

.icon-setting:before {
  content: "\e60f";
}

