@use "global" as *;

.dashboard-container {
  width: 100%;
  height: 100%;
  user-select: none;

  .content-wrapper {
    font-size: 14px;
    padding: 10px;
    margin-bottom: 10px;

    .header{
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      .title {
        color: $app-color-content-color;
        display: inline-block;
        font-size: 16px;
        padding: 2px 4px;
        position: relative;
        vertical-align: middle;
        transition: color 0.3s ease;
        z-index: 1;
        cursor: pointer;
        margin-right: 8px;

        &:before {
          position: absolute;
          content: "";
          bottom: 0;
          left: 0;
          right: 0;
          height: 4px;
          background: $app-color-primary;
          transition: height 0.3s ease;
          z-index: -1;
        }

        &:hover {
          color: $app-color-content-background;

          &:before {
            height: 100%;
          }
        }
      }

      .icon-btn{

        :hover{

        }
      }
    }


    $card-gap-x: 20px;
    $card-width: min(calc((100% - $card-gap-x) / 3), 180px);
    $cards-single-width: min(calc((100% - $card-gap-x) / 2), 200px);
    $card-padding: 5px 10px;

    .cards{
      width: 100%;
      display: flex;
      gap: 0 $card-gap-x;
      flex-direction: row;
      align-items: start;
    }

    .cards-multiple {

      .card {
        width: $card-width;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: $card-padding;
        cursor: pointer;

        background-color: $app-color-content-background;
        border: 1px solid $app-color-border;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:not(.no-transition):hover {
          transform: translateY(-5px);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        }

        .card-name {
          margin: 0;
          font-size: 1em;
          color: $app-color-content-color2;
        }

        .card-info {
          width: 100%;
          font-size: 0.9em;

          .info-item {
            margin: 5px 0;
            color: $app-color-content-color3;
          }

          .value {
            color: $app-color-primary;
          }
        }
      }
    }

    .proportion-chart{
      width: calc(100% - 0px);
      height: 20px;
      display: flex;
      align-items: center;
      padding: 0;
      background: $app-color-hover;
      margin: 6px 0;

      .value{
        height: 100%;
        display: inline-block;
        color: $app-color-content-background;
        min-width: 1em;
        background: $app-color-primary;
        text-align: center;
      }
    }

    .cards-single {
      width: $cards-single-width;
      background-color: $app-color-content-background;
      border: 1px solid $app-color-border;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: $card-padding;

      .card-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;

        .info-item{
          width: 100%;
          display: flex;
          align-items: center;
          cursor: pointer;
          padding: 0 2px;

          &:hover {
            background: $app-color-hover;
          }

          .proportion-chart {
            flex: 1;
          }

          >.value {
            color: $app-color-primary;
            margin: 6px 0;
          }
        }
      }
    }
  }


}