// 全局配置
// 通过 SCSS 变量引用 CSS 变量，方便动态修改
root{
  --app-theme-color: 98, 132, 223;
}

$app-theme-color: var(--app-theme-color);

$app-color-primary: rgba($app-theme-color, 1);
$app-color-hover: rgba($app-theme-color, 0.2);
$app-color-border: #dcdfe6;
$app-color-background: #F5F7F9;
$app-color-content-background: #ffffff;
$app-color-content-color:  #0a0a0a;
$app-color-content-color2: #333333;
$app-color-content-color3:  #666666;

// 图标按钮
$app-color-btn-icon: $app-color-primary;
$app-color-btn-icon-bg: $app-color-hover;

// 操作按钮
$app-color-opt-btn: rgba($app-theme-color, 1);
$app-color-opt-btn-bg: rgba($app-theme-color, 0.2);
$app-color-opt-btn-border: rgba($app-theme-color, 0.4);


$app-top-bar-height: var(--app-top-bar-height, 30px);
$app-left-side-width: var(--app-left-side-width, 170px);
$app-main-content-margin: var(--app-main-content-margin, 0px 4px 4px 0px);
$app-main-content-padding: var(--app-main-content-padding, 10px);

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.icon-btn {
  color: $app-color-btn-icon;
  cursor: pointer;
  width: 18px;
  height: 18px;
  font-size: 18px;
  line-height: 18px;
  padding: 5px;
  border-radius: 50%;

  &:hover {
    background: $app-color-btn-icon-bg;
  }

}