@use "global" as *;

.app-container {
  width: 100%;
  height: 100%;
  padding-top: 1px;
  display: flex;
  background: $app-color-background;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: $app-top-bar-height;
    top: 0;
    left: 0;
    app-region: drag;
  }

  >.left-side {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    --el-aside-width: $app-left-side-width;
    width: $app-left-side-width;
    user-select: none;

    >.app-infos {
      display: flex;
      align-items: center;
      padding: 20px 0;

      >.app-title {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        color: $app-color-primary;

        >.app-logo {
          width: 28px;
          height: 28px;
          margin-right: 4px;
          display: inline-block;
          mask: url('@/assets/logo.svg') no-repeat center / contain;
          -webkit-mask: url('@/assets/logo.svg') no-repeat center / contain;
          background: $app-color-primary;
        }
      }

    }

    >.menus {
      flex: 1;
      border-right: unset;
      letter-spacing: 1px;
      background: $app-color-background;

      >.menu {
        width: calc($app-left-side-width - 10px);
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 16px;
        position: relative;
        z-index: 1;
        transition: border-color var(--el-transition-duration), background-color var(--el-transition-duration);

        >.iconfont {
          font-size: 18px;
          margin-right: 20px;
        }
      }

      >.el-menu-item:hover {
        background: unset;
      }

      >.el-menu-item.is-active {
        color: #FFF;
      }

      >.el-menu-item:hover:after, .el-menu-item.is-active:after {
        content: " ";
        position: absolute;
        left: 8px;
        top: 8px;
        bottom: 8px;
        right: 8px;
        background: $app-color-hover;
        border-radius: 8px;
        z-index: -1;
      }

      >.el-menu-item.is-active:after {
        background: $app-color-primary;
      }
    }
  }

  >.right-side {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;

    >.top-bar {
      width: 100%;
      height: $app-top-bar-height;
      display: flex;
      align-items: center;
      padding-left: 12px;
      font-size: 16px;
      font-weight: bold;
      box-sizing: border-box;
      position: relative;

      >.top-bar-btns {
        $btn-margin: 2px;
        display: flex;
        align-items: center;
        app-region: no-drag;
        position: absolute;
        margin-right: $btn-margin;
        top: 0;
        right: 0;

        >.btn {
          width: calc($app-top-bar-height - $btn-margin);
          height: calc($app-top-bar-height - $btn-margin);
          font-size: 16px;
          text-align: center;

          &:before {
            vertical-align: middle;
          }

          &:hover {
            background: $app-color-hover;
          }

          &:nth-child(3):hover {
            background: #ff2323;
          }

        }
      }
    }

    >.content-wrapper {
      flex: 1;
      background: $app-color-background;
      //padding: $app-main-content-margin calc($app-main-content-margin + 1px) calc($app-main-content-margin + 1px) $app-main-content-margin;
      padding: $app-main-content-margin;
      box-sizing: border-box;
      height: 100%;
      width: 100%;

      >.content {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: $app-main-content-padding;
        background: $app-color-content-background;
        border-radius: 10px;
        color: $app-color-content-color;
        box-shadow: inset 0 0 4px 0 $app-color-border-shadow;
        overflow: auto;
      }
    }
  }
}

