@use "global" as *;

.app-container {
  width: 100%;
  height: 100%;
  padding-top: 1px;
  display: flex;

  .left-side {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    --el-aside-width: $app-left-side-width;
    width: $app-left-side-width;
    box-shadow: 1px 0 3px $app-color-menu-border;
    user-select: none;

    .app-infos {
      display: flex;
      align-items: center;
      padding: 20px 0;

      .app-title {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        color: $app-color-menu-primary;

        img {
          width: 24px;
          height: 24px;
          margin-right: 8px;
        }
      }

    }

    .menus {
      flex: 1;
      border-right: unset;
      letter-spacing: 1px;

      .menu {
        width: calc($app-left-side-width - 10px);
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 16px;
        position: relative;
        z-index: 1;

        .iconfont {
          font-size: 18px;
          margin-right: 20px;
        }
      }

      .el-menu-item:hover {
        background: unset;
      }

      .el-menu-item.is-active {
        color: #000;
      }

      .el-menu-item:hover:after, .el-menu-item.is-active:after {
        content: " ";
        position: absolute;
        left: 8px;
        top: 8px;
        bottom: 8px;
        right: 8px;
        background: $app-color-menu-hover;
        border-radius: 8px;
        z-index: -1;
      }

      .el-menu-item.is-active:after {
        background: $app-color-menu-active;
      }
    }
  }

  .right-side {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;

    .top-bar {
      width: 100%;
      height: $app-top-bar-height;
      display: flex;
      align-items: center;
      padding-left: 12px;
      font-size: 16px;
      font-weight: bold;
      app-region: drag;
      box-sizing: border-box;
      box-shadow: 3px 1px 3px $app-color-menu-border;
      background: $app-color-content-background;
    }

    .content-wrapper {
      flex: 1;
      background: $app-color-background;
      padding: $app-main-content-margin calc($app-main-content-margin + 1px) calc($app-main-content-margin + 1px) $app-main-content-margin;
      box-sizing: border-box;
      height: 100%;
      width: 100%;

      .content {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: $app-main-content-padding;
        background: $app-color-content-background;
        border-radius: 10px;
      }
    }
  }

}

