@use '@/assets/scss/global' as *;

.soft {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10px;
  border: 1px solid var(--el-border-color-light);
  padding: 10px;
  box-sizing: border-box;

  &__icon {
    width: 48px;
    height: 48px;
    margin-right: 10px;
  }

  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 12px;
    overflow: hidden;

    $triangle-width: 10px;
    $info-item-height: 20px;

    .double, .single {
      width: 100%;
      display: flex;
    }

    .single {
      flex-direction: column;
    }

    &__item {
      flex: 1;
      min-width: 0;
      height: $info-item-height;
      line-height: $info-item-height;
      display: flex;
      align-items: center;
      white-space: nowrap;
      box-sizing: border-box;
      padding-right: 6px;

      &__label {
        color: var(--el-text-color-secondary);
        margin-right: 6px;
        position: relative;
        z-index: 1;
        box-sizing: border-box;
        user-select: none;
      }

      &__value {
        flex: 1;
        color: var(--el-text-color-regular);
        text-overflow: ellipsis;
        overflow: hidden;
        box-sizing: border-box;

        &.actionable {
          color: var(--el-color-primary-light-1);
          cursor: pointer;
        }
      }
    }

  }
}