@use '@/assets/scss/global' as *;

.menus {
  flex: 1;
  border-right: unset;
  letter-spacing: 1px;
  background: $app-bg-color-menu;

  > .menu {
    width: calc($app-left-side-width - 10px);
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    z-index: 1;
    color: $app-text-color-primary;
    transition: border-color var(--el-transition-duration), background-color var(--el-transition-duration);

    > .menu-icon {
      font-size: 18px;
      margin-right: 20px;
    }
  }

  > .el-menu-item:hover {
    background: unset;
  }

  > .el-menu-item.is-active {
    color: $app-border-color-extra-light;
  }

  > .el-menu-item:hover:after, .el-menu-item.is-active:after {
    content: " ";
    position: absolute;
    left: 8px;
    top: 8px;
    bottom: 8px;
    right: 8px;
    background: $app-color-primary-light-7;
    border-radius: 8px;
    z-index: -1;
  }

  > .el-menu-item.is-active:after {
    background: $app-color-primary-dark-1;
  }
}