@use '@/assets/scss/global' as *;

.soft-graph {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: relative;

  :deep(.soft-icon) {
    position: absolute;
    border-radius: 50%;
    border: 2px solid $app-color-primary-light-7;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 68%;
    background-color: $app-fill-color-blank;
    transition: transform 0.3s ease-in 0s;

    &:hover {
      z-index: 1;
      transform: scale(1.2);
      border-color: transparent;
      box-shadow: 0 0 4px $app-color-primary-light-1;
    }
  }
}