@use '@/assets/scss/global' as *;

.task-list {
  width: 100%;
  height: 100%;
  flex: 1;
  overflow-y: hidden;

  .scroll-container {
    height: 100%;
    overflow-y: auto;
    padding: 6px;
    box-sizing: border-box;
  }

  .task-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    padding: 4px 10px;
    font-size: 12px;
    box-sizing: border-box;
    color: $app-text-color-secondary;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;

    &:hover {
      transform: translateY(-5px);
      box-shadow: $app-box-shadow;
    }

    :deep(.el-card__body) {
      width: 100%;
      padding: 4px 4px;
      box-sizing: border-box;
    }

    div {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .header {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 5px;
      margin-bottom: 10px;

      > div {
        flex-shrink: 0;
      }

      .title {
        color: $app-color-primary;
      }

      .state {
        padding: 0 5px;
        border-radius: 10px;
        font-size: 10px;

        &.state-pending {
          background: $app-color-info-light-3;
          border: 1px solid $app-color-info-light-3;
          color: $app-color-info;
        }

        &.state-running {
          background: $app-color-primary-light-9;
          border: 1px solid $app-color-primary-light-8;
          color: $app-color-primary;
        }

        &.state-stopped {
          background: $app-color-warning-light-9;
          border: 1px solid $app-color-warning-light-8;
          color: $app-color-warning;
        }

        &.state-finished {
          background: $app-color-success-light-9;
          border: 1px solid $app-color-success-light-8;
          color: $app-color-success;
        }
      }

      .message {
        flex-shrink: 1;
        padding: 0 5px;
        border-radius: 10px;
        font-size: 10px;

        &.success-undefined {
          background: $app-color-info-light-9;
          border: 1px solid $app-color-info-light-8;
          color: $app-color-info;
        }

        &.success-true {
          background: $app-color-success-light-9;
          border: 1px solid $app-color-success-light-8;
          color: $app-color-success;
        }

        &.success-false {
          background: $app-color-error-light-9;
          border: 1px solid $app-color-error-light-8;
          color: $app-color-error;
        }
      }

      .options {
        margin-left: auto;
        font-size: 18px;
        color: $app-color-primary-light-3;

        .icon-btn {
          cursor: pointer;
          border-radius: 50%;

          &:hover {
            color: $app-color-primary;
            background-color: $app-color-primary-light-8;
          }
        }
      }
    }

    .content {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 15px;

      .content-item {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: start;


        .plugin-name, .date {
          display: flex;
          align-items: center;

          > i {
            margin-right: 2px;
          }
        }

        .progress {
          width: 100%;
          cursor: pointer;

          :deep(.el-progress__text) {
            font-size: 1em;
          }

          .progress-text {
            width: 100%;
          }
        }

        .path-item {
          width: 100%;
          display: flex;
          align-items: center;
          color: $app-text-color-secondary;

          .path-label {
            margin-left: 2px;
          }

          .path-wrapper {
            flex: 1;

            .path {
              direction: rtl;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              cursor: pointer;
              text-align: left;

              &:hover {
                background: $app-color-primary-light-9;
              }
            }
          }
        }
      }
    }

    .btn-expand {
      font-size: 14px;
      position: absolute;
      bottom: -2px;
      left: 50%;
      padding: 0 5px;
      transform: translateX(-50%);

      &:hover {
        font-size: 16px;
        bottom: -4px;
        color: $app-color-primary;
      }
    }

    .expand-info-container {
      width: 100%;
      overflow: hidden;
      display: grid;
      grid-template-rows: 0fr;
      transition: .3s grid-template-rows ease;

      &.expand {
        border-top: 1px solid $app-border-color-light;
        grid-template-rows: 1fr;
      }

      .expand-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 7px 0;
      }

      .plugin-config {
        width: 100%;
        display: flex;
        flex-direction: column;

        i {
          margin-right: 4px;
        }

        .config-name {
          color: $app-text-color-primary;
        }

        .config-item {
          width: calc(100% - 20px);
          align-items: center;
          margin-left: 20px;
          display: flex;
          gap:10px;

          &:hover{
            background-color: $app-color-primary-light-9;
          }
        }

      }
    }
  }
}