@use '@/assets/scss/global' as *;

.task-result {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 4px;
  box-sizing: border-box;

  &__name {
    color: var(--el-text-color-regular);

    > i {
      margin-right: 4px;
    }
  }

  &__items {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-left: 10px;
    box-sizing: border-box;
    color: var(--el-text-color-secondary);
  }
}
