.menus{
  height: 100vh;
}

.menus .menu{
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  z-index: 1;
}

.menus .menu .iconfont{
  font-size: 16px;
  margin-right: 10px;
}

.el-menu-item:hover {
  background: unset;
}

.el-menu-item.is-active{
  color: #FFF;
}

.el-menu-item:hover:after,.el-menu-item.is-active:after {
  content: " ";
  position: absolute;
  left: 8px;
  top: 8px;
  bottom: 8px;
  right: 8px;
  background: var(--app-color-hover);
  border-radius: 8px;
  z-index: -1;
}

.el-menu-item.is-active:after{
  background: var(--app-color-primary);
}