@use '@/assets/scss/global' as *;

.about {
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-items: start;
  font-size: 14px;
  padding: 14px;
  align-items: start;
  background: $app-bg-color;

  .app-logo {
    width: 80px;
    height: 80px;
    display: inline-block;
    transition: 0.3s ease, height 0.3s ease;
    mask: url('@/assets/logo.svg') no-repeat center / contain;
    -webkit-mask: url('@/assets/logo.svg') no-repeat center / contain;
    background: $app-color-primary;
    user-select: none;
    cursor: pointer;

    &:hover {
      width: 100px;
      height: 100px;
      animation: rotate 3s linear infinite;
    }
  }

  .app-title {
    width: fit-content;
    font-size: 18px;
    font-weight: bold;
    color: $app-color-primary;
    letter-spacing: 1px;
    padding: 4px;
    border-radius: 4px;
    margin: 8px 0;
    user-select: none;
    cursor: pointer;

    &:hover {
      color: $app-background-color;
      background: $app-color-primary-light-5;
    }
  }

  .infos {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-items: start;
    margin-top: 10px;

    .info {
      display: flex;
      align-items: flex-start;
      line-height: 1.4;
      padding: 6px;
      border-radius: 4px;

      &:hover {
        background: $app-color-primary-light-7;
      }

      .title {
        white-space: nowrap;
        user-select: none;
      }

      .desc {
        white-space: pre-wrap;

        .url{
          cursor: pointer;
          color: $app-color-primary;
        }
      }

    }
  }

}