@use '@/assets/scss/global' as *;

.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  background: $app-bg-color-menu;
  color: $app-text-color-regular;

  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: $app-top-bar-height;
    top: 0;
    left: 0;
    app-region: drag;
  }

  > .left-side {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    --el-aside-width: $app-left-side-width;
    width: $app-left-side-width;
    user-select: none;

    > .app-infos {
      display: flex;
      align-items: center;
      padding: 20px 0;

      > .app-title {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        color: $app-color-primary;

        > .app-logo {
          width: 28px;
          height: 28px;
          margin-right: 4px;
          display: inline-block;
          mask: url('@/assets/logo.svg') no-repeat center / contain;
          -webkit-mask: url('@/assets/logo.svg') no-repeat center / contain;
          background: $app-color-primary;
        }
      }

    }
  }

  > .right-side {
    width: calc(100% - $app-left-side-width);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;

    > .top-bar {
      width: 100%;
      height: $app-top-bar-height;
      display: flex;
      align-items: center;
      padding-left: 12px;
      font-size: 16px;
      font-weight: bold;
      box-sizing: border-box;
      position: relative;

      > .top-bar-btn-list {
        display: flex;
        align-items: center;
        app-region: no-drag;
        margin-left: auto;
        margin-right: 4px;
        gap: 4px;

        > .btn {
          width: calc($app-top-bar-height - 4px);
          height: calc($app-top-bar-height - 4px);
          font-size: 16px;
          text-align: center;
          display: inline-block;
          user-select: none;
          cursor: pointer;
          position: relative;

          &:before{
            content: '';
            position: absolute;
            left: 4px;
            top: 4px;
            right: 4px;
            bottom: 4px;
            mask: url('@/assets/logo.svg') no-repeat center / contain;
            -webkit-mask: url('@/assets/logo.svg') no-repeat center / contain;
            background: $app-text-color-primary;
            z-index: 1;
          }

          &.icon-minimize:before {
            mask: url('@/assets/image/icon-minimize.svg') no-repeat center / contain;
            -webkit-mask: url('@/assets/image/icon-minimize.svg') no-repeat center / contain;
          }

          &.icon-maximize:before {
            mask: url('@/assets/image/icon-maximize.svg') no-repeat center / contain;
            -webkit-mask: url('@/assets/image/icon-maximize.svg') no-repeat center / contain;
          }

          &.icon-cancel-maximize:before {
            mask: url('@/assets/image/icon-cancel-maximize.svg') no-repeat center / contain;
            -webkit-mask: url('@/assets/image/icon-cancel-maximize.svg') no-repeat center / contain;
          }

          &.icon-close:before {
            mask: url('@/assets/image/icon-close.svg') no-repeat center / contain;
            -webkit-mask: url('@/assets/image/icon-close.svg') no-repeat center / contain;
          }

          &:hover {
            background: $app-color-primary-light-4;
          }

          &:nth-child(3):hover {
            color: #FFF;
            background: #ff2323;
          }

        }
      }
    }

    // 补全右边和底边的边框
    > .page-wrapper {
      width: 100%;
      height: calc(100% - $app-top-bar-height);
      padding: $app-main-content-margin;
      box-sizing: border-box;

      > .page {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: $app-main-content-padding;
        background: $app-bg-color-page;
        border-radius: 10px;
        color: $app-text-color-regular;
        border: 1px solid $app-border-color-light;
        overflow: auto;

        &.page-content {
          background: $app-bg-color;
        }
      }
    }
  }
}
