@use '@/assets/scss/global' as *;
@use '@/assets/scss/table-page' as *;

.table-wrapper {
  :deep(.bind-soft) {
    color: $app-text-color-primary;
    display: flex;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
  }

  :deep(.soft-icon) {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    object-fit: cover;
  }

  :deep(.empty-hint) {
    line-height: 1.4;
    font-size: 1.2em;
    user-select: none;

    .link{
      color: $app-color-primary;
      padding: 0 2px;
      cursor: pointer;

      &:hover{
        background: $app-color-primary-light-8;
      }
    }
  }
}
