@use '@/assets/scss/global' as *;

.table-wrapper {

  :deep(.empty-hint) {
    line-height: 1.4;
    font-size: 1.2em;
    user-select: none;

    .link{
      color: var(--el-color-primary);
      padding: 0 2px;
      cursor: pointer;

      &:hover{
        background: var(--el-color-primary-light-8);
      }
    }
  }
}
