@use '@/assets/scss/global' as *;
@use '@/assets/scss/table-page' as *;

.table-wrapper {
  :deep(.bind-soft) {
    color: $app-text-color-primary;
    display: flex;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
  }

  :deep(.soft-icon) {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    object-fit: cover;
  }
}