@use '@/assets/scss/global' as *;

.page-content {
  overflow: hidden;
  background: $app-bg-color;

  .task-tabs {
    width: 100%;
    height: 100%;

    .task-tab {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}